<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIGNA</title>
    <script src="https://kit.fontawesome.com/ecacf0cf16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIGNA.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-grid">
        <header class="sidebar">
            <a class="sidebar-brand" asp-area="" asp-page="/Index"><img src="~/Logo-SIGNA.svg" alt="Logo Signa" /> SIGNA</a>
            <ul class="link-list">
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Pessoas" asp-action="Index">Consulta</a>
                </li>
                <li>
                    <a class="nav-link disabled" asp-area="" asp-controller="Pessoas" asp-action="Detalhes">Detalhes</a>
                </li>
            </ul>
        </header>

        <div class="main-content">
            <main role="main" class="main">
                @RenderBody()
            </main>

            <footer>
                &copy; 2022 - SIGNA
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
